{% extends 'base.html'%}

{% block content %}
    <div class="container landing">
        <div class="row ">
                {% if current_user.is_authenticated %}
                <div class="col-md-3 "><a class="btn btn-sm btn-info " id="ref" href="{{url_for('main.new_blog')}}">Post</a></div>
                {% endif %}
            
            <div class="col-md-9 "><h1 >Welcome to MyBlog</h1></div>
        </div>

        <div class="row">
            <div class="col-md-8 ">
                {% for blog in blogs %}
                    <div class="container bg mb-2">
                        <hr>
                        <div class="row ">

                            <div class="col-md-10 pr-4 d-justify userblog">
                                <p>Posted on : {{blog.date.strftime('%d-%m-%Y')}}</p>
                                <h4><{{blog.title | upper}}</h4>
                                <p>{{blog.post}}</p>
                                <p> <a class="btn btn-sm btn-info" href="{{url_for('main.blog',id = blog.id)}}" > View</a></p>
                                
                            </div>
                        </div> 
                        <hr>
                    </div>
                       
                {% endfor %}

                

            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="card cardquote">
                        <div class="card-title">
                            <h4>A quote by: <span style="color: rgb(3, 3, 3)">{{post.author}}</span> </h4>
                        </div>
                        <p class="card-text">{{post.quote}}</p>
                    </div>
                </div>
                <div class="container-fluid">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                    </div>
                    {% endfor %}
                    <form class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST">
                        <div class="md-form form-group">
                            <label class="white-color">Email Address...</label>
                            <input type="email"  class="form-control " name ="subscriber" required>
                        </div>
                        <div class="md-form form-group">
                            <button class="btn btn-sm btn-outline-info" id="subs">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}